<html lang="en">  
<head> </head>

  <body>
    <div class="jumbotron center">
      <h1><strong>Oh My Stories!</strong></h1>
      <h2>I create the stories of my dreams</h2>
		  
      <div class="row">
		    <div class="col-xs-6">
          <div class="imagetwist">
          <%= link_to image_tag("dreaming.png"), static_pages_choosegender_path %>
          </div>
		    </div>
        <div class="col-xs-6">
		      <div class="imageUNtwist">
           <h4>This is where the if user signed in goes</h4>
          </div>
		    </div>
      </div>

   </div>

  </body>